[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
alembic = "*"
authlib = "*"
fastapi = "*"
geojson = "*"
httpx = "*"
itsdangerous = "*"
mysqlclient = "*"
polyline = "*"
python-jose = "*"
sqlalchemy = "*"
uvicorn = "*"

[dev-packages]
black = "==19.10b0"
flake8 = "*"
flake8-mypy = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
